@media(min-width:300px){
.container{
  width: auto;
  height: auto;
}
.contact_background {
  height: 40rem;
  width: 100%;
  position: relative;
  top:10rem;
  align-items: center;
  justify-content: center;
}
}

@media(min-width:900px){
.container{
  width: 100%;
  height:100%;
  display:grid;
  grid-template-columns: 50% 50%;
}
.contact_background {
  height: 80rem;
  width: 100%;
  display: flex;
  position: relative;
  top:-10rem;
  align-items: top;
  justify-content: top;
}
}

.contact_background {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 5rem;
  top:1rem;
  align-items: top;
  justify-content: top;
}

.title{
  font-size: 2rem;
  font-family: Courier New;
}
.contact_text{
  font-family: Courier New;
  font-size: 2rem;
  padding-left: 5%;
  padding-bottom: 5%;
  background-color:hsl(0, 0%, 90%, 0.5);
  width: 90%;
  height: 100%;
}

.contact_text img{
  width: 40px;
  height: 30px;
}








