.detailbox {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-areas: "left right";
}
.detailList {
    grid-area: right;
}

.detailList ul {
    text-align: left;
}
.detailImage {
    grid-area: left;
}

.detailList  h1 {
  position: relative;
  margin-left: 1em;
}

.detailImage img {
    width: 90%;
    z-index: -1;
}

.detailList li {
    position: relative;
    list-style: none;
    display: inline-block;
    border-right: 1px solid #ededed;
    line-height: 150%;
    color: #333333;
    text-align: center;
    padding: 0 3rem;
}

.detailList span {
    font-weight: bolder;
    font-size: 1rem;
}

.description {
    position: relative;
    padding: 5px 24px;
    margin-left: 1em;
    height: 5rem;
    line-height: 2rem;
    text-align: left;
    font-size: 1rem;
}



@media(max-width: 900px) {
.detailList  h1 {
  font-size: 1.5rem;

}
.detailList li {
    font-size: 0.5rem;

}

.detailList span {
    font-size: 0.5rem;
}

.description {
    margin-left: 1em;
    line-height: 1rem;
    font-size: 0.8rem;
    margin-bottom: 1em;
}

}








