.footer{
    background-color: #5D6D7E;
    height: 8rem;
    font-size: 2rem;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    position: static;
}

.copyRight {
    font-family: Courier New;
    flex: 2;
    font-size: 1.4rem;
    text-align: center;
    color: white;

}



