@media(min-width: 300px) {
    .products {
        width: 80%;
        display: grid;
        grid-template-columns: 100%;
        margin: 0 auto;
        border-bottom: 2px solid #ededed;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

@media(min-width: 700px) {
    .products {
        width: 80%;
        display: grid;
        grid-template-columns: 40% 60%;
        margin: 0 auto;
        border-bottom: 2px solid #ededed;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.picture {
    width: 90%;
    align-self: center;
    margin: 0 auto;
}

.products ul {
    list-style-type: none;
    line-height: 2em;
    margin-left: 5%;
    align-self: center;
}

.list {
    text-decoration: none;
    color: black;
}

.priceBefore {
    text-decoration: line-through;
}

.sale {
    color: red;
    font-size: 3rem;
}

.detailbutton {
    margin-top: 3%;
    font-size: 2rem;
}

.productsImage:hover {
    opacity: 0.6;
}

.productsImageUnavailable {
    opacity: 0.4;
}

.unavailableText {
    opacity: 0.4;
}

.unavailable {
    color: lightslategray;
    padding: 0.5rem 2.4rem;
    margin-top: 5%;
    width: auto;
    height: 5rem;
    line-height: 5rem;
    background: #f5f5f5;
    border-radius: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    overflow: hidden;
}